* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  width: 100%;
  position: relative;
}
a {
  text-decoration: none;
}
nav {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
  background-color: #022561;
  padding: 10px 5%;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.first a {
  color: #ffffff;
}
.info,
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.info a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.horizontalLine {
  width: 1px;
  height: 30px;
  background-color: white;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f5f5f5; */
  box-shadow: 0px 4px 4px 0px #f5f5f5;
  color: #022561;
  padding: 20px 5%;
}

.second a {
  color: #022561;
  font-family: 400;
  font-size: 24px;
  margin-right: auto;
}
button {
  cursor: pointer;
  font-family: "cairo";
}
main {
  display: flex;
}
.container {
  flex-grow: 1;

  padding: 0;
  width: 70%;
}
aside {
  width: 16%;
  min-width: fit-content;
  background-color: #022561;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
aside div {
  position: relative;
  display: flex;
  width: 100%;

  margin-bottom: 20px;
  padding: 15px 20px 10px 5px;
}

aside div p {
  margin-right: 10px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  font-family: "cairo";
}
aside div img {
  padding: 0 10px;
}
.direction {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  padding: 10px 20px 10px 0;
  margin-bottom: 20px;
  background-color: #d2e6e433;
}

.direction span {
  color: #2c2d30;
}
.direction p {
  font-weight: 500;
  color: #022561;
}
.direction p:first-child {
  font-weight: 700;
}
.main-img {
  max-width: 100%;
  margin-bottom: auto;
}
.course {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0px 4px 4px 0px #f7f7f440;
  border: 1px solid #f1f0f0;
  border-radius: 16px;
  margin-bottom: 30px;
}
.main-img {
  width: 20%;
  height: 100%;
  aspect-ratio: 1;
}
.course-information {
  width: 80%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h3 {
  font-weight: 700;
  color: #022561;
}
.title .price {
  color: #fd661f;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  font-size: 16px;
  font-weight: 400;
  color: #2c2d30;
}
.course-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.course-info div {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 48%;
  margin-bottom: 20px;
}
.course-info div img {
  width: 27px;
}
.course-info div:last-of-type span:first-of-type {
  color: #022561;
  font-weight: 600;
}
.course-participante {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}
.course-participante div {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 48%;
  margin-bottom: 20px;
}
.course-participante div img {
  width: 27px;
}
.course-participante div span:first-of-type {
  color: #022561;
  font-weight: 600;
}
button {
  margin-top: 30px;
  display: flex;
  width: 268px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #022561;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #022561;
  color: #ffffff;
  font-family: "cairo";
}
footer h2 {
  font-family: "cairo";
}
footer .footer-holder {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-first {
  display: flex;
  padding: 20px 5%;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff52;
}
.footer-first .social {
  margin-top: 5px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
footer .copyright {
  display: flex;
  padding: 20px 5%;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1120px) {
  .course {
    flex-direction: column;
  }
  .second h1 {
    font-size: 1.2rem;
  }
  .second a {
    font-size: 18px;
  }
  .main-img {
    width: unset;
    height: unset;
    aspect-ratio: unset;
  }
  .course-information {
    width: unset;
  }
}
@media (max-width: 840px) {
  .title h3 {
    font-size: 1rem;
  }
  .title .price {
    font-size: 20px;
  }
  .content {
    font-size: 14px;
  }
  .course-info div img,
  .course-participante div img {
    width: 18px;
  }

  .course-participante div span,
  .course-info div span {
    font-size: 12px;
  }
}
@media (max-width: 790px) {
  .direction p {
    font-size: 0.8rem;
  }

  form {
    width: 80%;
    margin-left: auto;
    align-items: center;
    justify-content: start;
    gap: 28px 0px;
    margin-right: auto;
    grid-template-columns: 1fr;
  }
  aside {
    width: 10%;
    min-width: fit-content;
  }

  aside div p {
    display: none;
  }
}
@media (max-width: 750px) {
  .second h1 {
    font-size: 0.8rem;
  }
  .second a {
    font-size: 12px;
  }
}
@media (max-width: 685px) {
  .info,
  .social {
    font-size: 10px;
  }
  .target {
    display: none;
  }

  .info a:first-of-type {
    padding: 0;
  }
  .info a {
    padding: 5px;
  }
  .title h3 {
    font-size: 0.8rem;
  }
  .title .price {
    font-size: 14px;
  }
  .content {
    font-size: 12px;
  }
  .course-info div img,
  .course-participante div img {
    width: 14px;
  }
  .course-info div span,
  .course-participante div span {
    font-size: 10px;
  }
  .course-info div {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .direction {
    flex-wrap: wrap;
  }
  .direction img {
    max-width: 70%;
  }
  .direction p {
    font-size: 0.8rem;
  }
  .form h2 {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .second h1 {
    font-size: 0.6rem;
  }
  .footer-first h2 {
    font-size: 1.1rem;
  }
  .copyright h2 {
    font-size: 1.2rem;
  }
  .direction {
    flex-wrap: wrap;
  }
  form div {
    flex-wrap: wrap;
  }
}

@media (max-width: 420px) {
  form div {
    flex-wrap: wrap;
  }
}

.choosed {
  background: linear-gradient(91deg, #1c4185 68.23%, rgb(28 65 133 / 43%) 100%);
  border-right: 5px solid white;
}

.sub {
  margin-left: auto;
  flex-direction: column;
  padding: 0;
  width: fit-content;
}
.sub div {
  margin-bottom: 0;
}
.sub-nav {
  display: none;
  flex-wrap: wrap;
  margin-bottom: 0;
  width: fit-content;
}
.sub-nav p {
  width: 100%;
}
.opened {
  display: flex;
}
