* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  width: 100%;
}
nav {
  height: auto;
  width: 100%;
}
nav img {
  width: 100%;
}
button {
  cursor: pointer;
  font-family: "cairo";
}

.container {
  width: 90%;
  margin-right: 5%;
  padding: 20px 0;
}
.direction {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}
.main-img {
  width: 100%;
}

.expired {
  position: absolute;
  top: 164%;
  left: 0%;
  width: 20%;
}

.direction h4 {
  font-weight: 700;
  color: #022561;
}
.direction p {
  font-weight: 400;
  color: #022561;
}
.title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.title h2 {
  font-weight: 700;
  color: #022561;
}
.title .price {
  color: #fd661f;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 70%;
  font-size: 24px;
  font-weight: 400;
  color: #2c2d30;
}
.course-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-info div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.course-info div:last-of-type span:first-of-type {
  color: #022561;
  font-weight: 600;
}
.course-participante {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.course-participante div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.course-participante div:nth-child(3) {
  transform: translate(15px, 0px);
}
.course-participante div:nth-child(4) {
  transform: translate(5px, 0px);
}
.course-participante div span:first-of-type {
  color: #022561;
  font-weight: 600;
}
button {
  margin-top: 20px;
  display: flex;
  width: 268px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #022561;
}
footer {
  position: relative;
  margin-top: 20px;
  padding: 20px 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 25%));
  justify-content: space-around;
  border-top: 3px solid #022561;
  background-color: #2c2d31e3;
}
.nav {
  margin-bottom: 15px;
}
.nav h3 {
  color: #ffffff;
  margin-bottom: 20px;
}
.nav div {
  margin-bottom: 5px;
  cursor: pointer;
  color: #ffffff;
  width: fit-content;
  font-size: 16px;
}
.nav div:hover {
  transform: translate(10px, 0px);
  transition: ease-in 0.3s;
}
.nav div:hover span {
  color: #022561;
}
.nav div img {
  transform: scale(2);
  margin-left: 5px;
}
.up-arrow {
  position: absolute;
  top: 2%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #aaacb5;
  height: 35px;
  cursor: pointer;
}
.copyright {
  padding: 5px 10%;
  background-color: #35393cff;
  color: #7d7f89;
}
@media (max-width: 1200px) {
  .course-info div,
  .course-participante div {
    width: 40%;
    margin-bottom: 10px;
  }
  .course-participante,
  .course-info {
    flex-wrap: wrap;
  }

  .content {
    font-size: 1rem;
    width: 100%;
  }
  .course-participante div:nth-child(3) {
    transform: translate(0, 0px);
  }
  .course-participante div:nth-child(4) {
    transform: translate(0, 0px);
  }
}
@media (max-width: 800px) {
  .price span {
    font-size: 1.2rem;
  }
  .title h2 {
    font-size: 1rem;
  }
  .course-info span,
  .course-participante span {
    font-size: 0.6rem;
  }
  .content {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .price span {
    font-size: 0.6rem;
  }
  .direction h4,
  .title h2 {
    font-size: 0.5rem;
    display: flex;

    align-items: center;
  }
  .course-info span,
  .course-participante span {
    font-size: 0.4rem;
  }
  .content {
    font-size: 0.6rem;
  }
}
