* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  width: 100%;
}
a {
  text-decoration: none;
}
nav {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
  background-color: #022561;
  padding: 10px 5%;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.first a {
  color: #ffffff;
}
.info,
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.info a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.horizontalLine {
  width: 1px;
  height: 30px;
  background-color: white;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f5f5f5; */
  box-shadow: 0px 4px 4px 0px #f5f5f5;
  color: #022561;
  padding: 20px 5%;
}

.second a {
  color: #022561;
  font-family: 400;
  font-size: 24px;
  margin-right: auto;
}
button {
  cursor: pointer;
  font-family: "cairo";
}

.container {
  width: 90%;
  margin-right: 5%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.container img {
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: -5%;
}

.container h1 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #022561;
  line-height: 43.2px;
  margin-top: -10%;
}
.container p {
  width: 50%;
  height: 43px;
  color: #022561;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 2%;
  margin-bottom: 1%;
}

button {
  margin-top: 3%;
  display: flex;
  width: 173px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #022561;
}
footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  background-color: #022561;
  color: #ffffff;
  font-family: "cairo";
}
footer h2 {
  font-family: "cairo";
}
footer .footer-holder {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-first {
  display: flex;
  padding: 20px 5%;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff52;
}
.footer-first .social {
  margin-top: 5px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
footer .copyright {
  display: flex;
  padding: 20px 5%;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1580px) {
  .container p {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .second h1 {
    font-size: 1.2rem;
  }
  .second a {
    font-size: 18px;
  }
}
@media (max-width: 920px) {
  .container h1 {
    font-size: 1.6rem;
  }
  .container p {
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 750px) {
  .second h1 {
    font-size: 0.8rem;
  }
  .second a {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  .info,
  .social {
    font-size: 10px;
  }
  .target {
    display: none;
  }

  .info a:first-of-type {
    padding: 0;
  }
  .info a {
    padding: 5px;
  }
}

@media (max-width: 550px) {
  .container h1 {
    font-size: 1.4rem;
  }
  .container p {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .second h1 {
    font-size: 0.6rem;
  }
  .footer-first h2 {
    font-size: 1.2rem;
  }
  .copyright h2 {
    font-size: 1.2rem;
  }
}
