* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  width: 100%;
  position: relative;
}
a {
  text-decoration: none;
}
nav {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
  background-color: #022561;
  padding: 10px 5%;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.first a {
  color: #ffffff;
}
.info,
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.info a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.horizontalLine {
  width: 1px;
  height: 30px;
  background-color: white;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f5f5f5; */
  box-shadow: 0px 4px 4px 0px #f5f5f5;
  color: #022561;
  padding: 20px 5%;
}

.second a {
  color: #022561;
  font-family: 400;
  font-size: 24px;
  margin-right: auto;
}
button {
  cursor: pointer;
  font-family: "cairo";
}
main {
  display: flex;
}
.container {
  flex-grow: 1;
  max-height: 100vh;
  padding: 0;
  overflow-y: auto;
}
aside {
  margin-top: -1%;
  width: 18%;
  background-color: #022561;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
aside div {
  position: relative;
  display: flex;
  width: 100%;

  margin-bottom: 20px;
  padding: 15px 20px 10px 5px;
}

aside div p {
  margin-right: 10px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  font-family: "cairo";
}
aside div img {
  padding: 0 10px;
}
.direction {
  margin-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  padding: 10px 20px 10px 0;
  margin-bottom: 20px;
  background-color: #d2e6e433;
}

.direction span {
  color: #2c2d30;
}
.direction p {
  font-weight: 500;
  color: #022561;
}
.direction p:first-child {
  font-weight: 700;
}
.table-holder {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #f1f0f0;
  border-radius: 16px;
  margin-bottom: 60px;
}
.table {
  width: 100%;
  min-width: 200px;
  overflow: auto;
}
table {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 20px 0px #eeeeee80;
  min-width: 600px;
  overflow: auto;
}
table th {
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--white);
}
thead {
  background-color: #d2e6e433;
}

th,
td {
  padding: 10px;
}
tr td:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 20px;
  display: flex;
  width: 268px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #022561;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #022561;
  color: #ffffff;
  font-family: "cairo";
}
footer h2 {
  font-family: "cairo";
}
footer .footer-holder {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-first {
  display: flex;
  padding: 20px 5%;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff52;
}
.footer-first .social {
  margin-top: 5px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
footer .copyright {
  display: flex;
  padding: 20px 5%;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .second h1 {
    font-size: 1.2rem;
  }
  .second a {
    font-size: 18px;
  }
}
@media (max-width: 790px) {
  .direction p {
    font-size: 0.8rem;
  }

  form {
    width: 80%;
    margin-left: auto;
    align-items: center;
    justify-content: start;
    gap: 28px 0px;
    margin-right: auto;
    grid-template-columns: 1fr;
  }
  aside {
    width: 10%;
    min-width: fit-content;
  }

  aside div p {
    display: none;
  }
}
@media (max-width: 750px) {
  .second h1 {
    font-size: 0.8rem;
  }
  .second a {
    font-size: 12px;
  }
}
@media (max-width: 685px) {
  .info,
  .social {
    font-size: 10px;
  }
  .target {
    display: none;
  }

  .info a:first-of-type {
    padding: 0;
  }
  .info a {
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .direction {
    flex-wrap: wrap;
  }
  .direction img {
    max-width: 70%;
  }
  .direction p {
    font-size: 0.8rem;
  }
  .form h2 {
    font-size: 1rem;
  }
}
@media (max-width: 485px) {
  .second h1 {
    font-size: 0.6rem;
  }
  .footer-first h2 {
    font-size: 1.2rem;
  }
  .copyright h2 {
    font-size: 1.2rem;
  }
  @media (max-width: 420px) {
    form div {
      flex-wrap: wrap;
    }
    .add-btn {
      width: fit-content !important;
      padding: 10px 50px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

.choosed {
  background: linear-gradient(91deg, #1c4185 68.23%, rgb(28 65 133 / 43%) 100%);
  border-right: 5px solid white;
}

.sub {
  margin-left: auto;
  flex-direction: column;
  padding: 0;
  width: fit-content;
}
.sub div {
  margin-bottom: 0;
}
.sub-nav {
  display: none;
  flex-wrap: wrap;
  margin-bottom: 0;
  width: fit-content;
}
.sub-nav p {
  width: 100%;
}
.opened {
  display: flex;
}

.add-btn {
  margin-top: 20px;
  display: flex;
  width: 268px;
  height: 45px;
  margin-left: 5%;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #022561;
  font-family: "cairo";
}
